theme($ft_color, $bg_color=#fff, $bd_color=#FFBB76, $sd_color){
    background-color: $bg_color;
    border-color: $bd_color;
    if $ft_color {
        color: $ft_color;
    }
    if $sd_color {
        box-shadow: 0 1px 3px $sd_color;
    }
    .n-arrow {
        b {
            color: $bd_color;
            if $sd_color {
                text-shadow: 0 0 2px $sd_color;
            }
        }
        i {color: $bg_color;}
    }
}

inline-block() {
    display:inline-block; *display:inline; *zoom:1;
}

/*********************
 * global settings
 *********************/
.msg-wrap,.n-icon,.n-msg {
    inline-block()
    margin:0; padding:0;
    vertical-align:top;
}

.msg-box {
    position: relative;
    font-size: 12px;
    vertical-align:top;
    *zoom:1;
    .msg-wrap {
        white-space: nowrap;
    }
    .n-icon {
        width:16px; height:16px;
        overflow:hidden;
        background-repeat:no-repeat;
    }
    .n-arrow {
        position: absolute; 
        overflow: hidden;
        font-size: 12px;
        b, i {
            position: absolute; 
            left: 0; top: 0; 
            font-style: normal; font-family: simsun!important;
        }
        i {text-shadow:none;}
    }
    .n-msg {
        line-height:16px; 
        margin-left:2px;
        font-size: 12px;
        font-family: simsun;
    }

    // invalid input
    .n-invald {}
    // invalid tooltip
    .n-error {color:#CC3333;}
    // valid tooltip
    .n-ok {color:#390;}
    .n-tip,.n-loading {color:#808080;}

    // icons
    .n-error .n-icon {background-position:0 0;}
    .n-ok .n-icon {background-position:-16px -0;}
    .n-loading .n-icon {background: url(images/loading.gif) 0 center no-repeat !important;}
}

/** arrow and position **/
.n-top .n-arrow,
.n-bottom .n-arrow {height: 6px; width: 12px; left:6px;}
.n-left .n-arrow,
.n-right .n-arrow {height: 12px; width: 6px; top: 5px; *top: 4px;}

/** top **/
.n-top {
    .msg-wrap {position:absolute; bottom:100%; margin-bottom:6px;}
    .n-arrow {
        bottom: -6px;
        b {top: -8px;}
        i {top: -9px;}
    }
}
/** bottom **/
.n-bottom {
    .msg-wrap {
        position:absolute; 
        margin-top: 2px;
        margin-top: s("3px\9");
    }
    .n-arrow {
        top: -6px;
        b {top: -2px;}
        i {top: -1px;}
    }
}
/** left **/
.n-left {
    .msg-wrap {position:absolute; right:100%; margin-right:6px;}
    .n-arrow {
        right:-6px;
        b {left:-6px;}
        i {left:-7px;}
    }
}
/** right **/
.n-right {
    .msg-wrap {position:absolute; top:0; margin-left:6px;}
    .n-arrow {
        left:-6px;
        b {left:1px;}
        i {left:2px;}
    }
}