theme($color=null, $bg_color=#fff, $bd_color=#FFBB76, $sd_color=null){
    if color != null {
        color: $color;
    }
    background-color: $bg_color;
    border-color: $bd_color;
    if $sd_color != null {
        box-shadow: 0 1px 3px $sd_color;
    }
    .n-arrow {
        b {
            color: $bd_color;
            if $sd_color != null {
                text-shadow: 0 0 2px $sd_color;
            }
        }
        i {color: $bg_color;}
    }
}


/*********************
 * global settings
 *********************/
.msg-box {
    position: relative; *zoom:1; vertical-align:top;
    .msg-wrap {
        padding-top: 2px;
        display:inline-block; *display:inline; *zoom:1;
        height: 16px; 
        white-space: nowrap;
        
    }
    .n-icon {
        display:inline-block; *display:inline; *zoom:1;
        width:16px; height:16px;
        margin:0; padding:0;
        vertical-align:top;
        background-repeat:no-repeat;
    }
    .n-arrow {
        position: absolute; 
        overflow: hidden;
        font-size: 12px;
        b, i {
            position: absolute; 
            left: 0; top: 0; 
            font-style: normal; font-family: simsun!important;
        }
        i {text-shadow:none;}
    }
    .n-msg {
        *zoom:1;
        line-height:16px; 
        margin:0; padding:0;
        margin-left: 2px; _margin:0;
        vertical-align:top; _vertical-align:middle;
        font-size: 12px;
        font-family: simsun;
    }

    // invalid input
    .n-invald {}
    // invalid tooltip
    .n-error {color:#CC3333;}
    // valid tooltip
    .n-ok {color:#390;}
    .n-tip,.n-loading {color:#808080;}

    /** icons **/
    .n-error .n-icon {background-position:0 0;}
    .n-ok .n-icon {background-position:-16px -0;}
    .n-loading .n-icon {background: url(images/loading.gif) 0 center no-repeat !important;}
}

/** arrow and position **/
.n-top .n-arrow,
.n-bottom .n-arrow {height: 6px; width: 12px; left:6px;}
.n-left .n-arrow,
.n-right .n-arrow {height: 12px; width: 6px; top: 5px;}

/** top **/
.n-top {
    .msg-wrap {position:absolute; bottom:100%; margin-bottom:6px;}
    .n-arrow {
        bottom: -6px;
        b {top: -8px;}
        i {top: -9px;}
    }
}
/** bottom **/
.n-bottom {
    .msg-wrap {position:absolute; top:100%; margin-top:6px;}
    .n-arrow {
        top: -6px;
        b {top: -1px;}
        i {top: 0px;}
    }
}
/** left **/
.n-left {
    .msg-wrap {position:absolute; right:100%; margin-right:6px;}
    .n-arrow {
        right:-6px;
        b {left:-6px;}
        i {left:-7px;}
    }
}
/** right **/
.n-right {
    .msg-wrap {position:absolute; margin-left:6px;}
    .n-arrow {
        left:-6px;
        b {left:1px;}
        i {left:2px;}
    }
}