/* theme: default */
.n-default {
    .n-left, .n-right {
        margin-top: 5px;
    }
    .msg-wrap {
       .n-icon {
            background-image: url(images/validator_default.png);
        } 
    }
    .n-tip {
        .n-icon {display:none;}
    }
}