/* theme: default */
.n-default {
    .msg-wrap {
        margin-top: 6px;
       .n-icon {
            background-image: url(images/validator_default.png);
        } 
    }
    .n-tip {
        .n-icon {display:none;}
    }
}