/* theme: simple */
.n-simple {
    .msg-wrap {
        .n-icon {
            background-image: url(images/validator_simple.png);
        }
    }
    .n-left, .n-right {
        margin-top: 5px;
    }
    .n-bottom .msg-wrap {
        margin-top: 3px;
    }
    .n-tip {
        .n-icon {display:none;}
    }
}