/* theme: simple */
.n-simple {
    .msg-wrap {
        position: absolute;
        z-index: 1;
        .n-icon {
            background-image: url(images/validator_simple.png);
        }
    }
    .n-top {
        .msg-wrap {
            bottom: 100%;
        }
    }
    .n-bottom {
        .msg-wrap {
            top: 100%;
        }
    }
    .n-left, .n-right {
        margin-top: 5px;
    }
    .n-bottom .msg-wrap {
        margin-top: 3px;
    }
    .n-tip {
        .n-icon {display:none;}
    }
}
