body {font: 100%/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;}
input[type="text"],
input[type="password"],
select,
textarea {
    width:200px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.form {max-width:400px;margin: 20px 0 0 20px;}
.form-item {margin: .5em 0;}
.form-item .label {display:block; margin:10px 0 2px; font-size:14px;}
.form-item .n-invalid {border:1px solid #c00;}

.form-item button {padding:5px 20px; margin-top: 1em;}