.msg-wrap,
.n-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.msg-box {
  position: relative;
  *zoom: 1;
  vertical-align: top;
}
.msg-box .msg-wrap {
  padding-top: 2px;
  height: 16px;
  white-space: nowrap;
}
.msg-box .n-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-repeat: no-repeat;
}
.msg-box .n-arrow {
  position: absolute;
  overflow: hidden;
  font-size: 12px;
}
.msg-box .n-arrow b,
.msg-box .n-arrow i {
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
  font-family: simsun !important;
}
.msg-box .n-arrow i {
  text-shadow: none;
}
.msg-box .n-msg {
  *zoom: 1;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  _margin: 0;
  vertical-align: top;
  _vertical-align: middle;
  font-size: 12px;
  font-family: simsun;
}
.msg-box .n-invald,
.msg-box .n-error {
  color: #c33;
}
.msg-box .n-ok {
  color: #390;
}
.msg-box .n-tip,
.msg-box .n-loading {
  color: #808080;
}
.msg-box .n-error .n-icon {
  background-position: 0 0;
}
.msg-box .n-ok .n-icon {
  background-position: -16px 0;
}
.msg-box .n-loading .n-icon {
  background: url("images/loading.gif") 0 center no-repeat !important;
}
.n-top .n-arrow,
.n-bottom .n-arrow {
  height: 6px;
  width: 12px;
  left: 6px;
}
.n-left .n-arrow,
.n-right .n-arrow {
  height: 12px;
  width: 6px;
  top: 5px;
}
.n-top .msg-wrap {
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;
}
.n-top .n-arrow {
  bottom: -6px;
}
.n-top .n-arrow b {
  top: -8px;
}
.n-top .n-arrow i {
  top: -9px;
}
.n-bottom .msg-wrap {
  position: absolute;
  top: 100%;
  margin-top: 6px;
}
.n-bottom .n-arrow {
  top: -6px;
}
.n-bottom .n-arrow b {
  top: -1px;
}
.n-bottom .n-arrow i {
  top: 0px;
}
.n-left .msg-wrap {
  position: absolute;
  right: 100%;
  margin-right: 6px;
}
.n-left .n-arrow {
  right: -6px;
}
.n-left .n-arrow b {
  left: -6px;
}
.n-left .n-arrow i {
  left: -7px;
}
.n-right .msg-wrap {
  position: absolute;
  margin-left: 6px;
}
.n-right .n-arrow {
  left: -6px;
}
.n-right .n-arrow b {
  left: 1px;
}
.n-right .n-arrow i {
  left: 2px;
}
/*********************
 * Themes
 *********************/
.n-default .msg-wrap .n-icon {
  background-image: url("images/validator_default.png");
}
.n-default .n-tip .n-icon {
  display: none;
}
.n-simple .msg-wrap .n-icon {
  background-image: url("images/validator_simple.png");
}
.n-simple .n-tip .n-icon {
  display: none;
}
.n-yellow .msg-box {
  position: relative;
}
.n-yellow .msg-wrap {
  position: absolute;
  z-index: 10;
  padding: 4px 6px;
  font-size: 12px;
  border: 1px solid transparent;
  color: #db7c22;
  background-color: #fffcef;
  border-color: #ffbb76;
  box-shadow: 0 1px 3px #ddd;
  border-radius: 2px;
}
.n-yellow .msg-wrap .n-arrow b {
  color: #ffbb76;
  text-shadow: 0 0 2px #ddd;
}
.n-yellow .msg-wrap .n-arrow i {
  color: #fffcef;
}
.n-yellow .msg-wrap .n-icon {
  background-image: url("images/validator_simple.png");
}
.n-yellow .n-tip,
.n-yellow .n-ok,
.n-yellow .n-loading {
  color: #333;
  background-color: #f8fdff;
  border-color: #ddd;
  box-shadow: 0 1px 3px #ddd;
}
.n-yellow .n-tip .n-arrow b,
.n-yellow .n-ok .n-arrow b,
.n-yellow .n-loading .n-arrow b {
  color: #ddd;
  text-shadow: 0 0 2px #ddd;
}
.n-yellow .n-tip .n-arrow i,
.n-yellow .n-ok .n-arrow i,
.n-yellow .n-loading .n-arrow i {
  color: #f8fdff;
}
.n-yellow .n-tip .n-icon {
  display: none;
}

